@import "variables.scss";

$height: 24px;
$width: 44px;
$padding: 1px;

:host {
  display: flex;
  align-items: center;
}

.real-label {
  margin-right: 12px;
}

.toggle {
  display: block;
  position: relative;
  width: $width;
  height: $height;
}

input[type="checkbox"] {
  display: none;
}

.toggle-button-switch {
  position: absolute;
  top: $padding;
  left: $padding;
  width: calc(#{$height} - 2 * #{$padding});
  height: calc(#{$height} - 2 * #{$padding});
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  transition: left 0.1s;
}

.toggle-button-text {
  overflow: hidden;
  background-color: grey;
  border-radius: 25px;
  // box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  transition: background-color 0.1s;
  height: 100%;
}

input[type="checkbox"]:checked ~ .toggle-button-switch {
  left: calc(#{$width} - #{$height} + 2 * #{$padding} - 1px);
}

input[type="checkbox"]:checked ~ .toggle-button-text {
  background-color: $secondary-col;
}
