@import "../../assets/buttons.scss";
@import "../../assets/variables.scss";

.wrapper {
  display: flex;
  align-items: center;
  min-width: 210px;
  app-jazzicon {
    margin-right: 6px;
  }
  .hash {
    font-family: $font-ibm-mono;
    &.tx {
      font-weight: 500;
      color: $tx-col;
    }
  }
}

.mt-icon {
  line-height: 1.5rem;
  padding: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  &:hover {
    background-color: $posther-grey-4;
  }

  transform: translateY(-2px);

  span {
    transform: translateY(2px);
    @extend .text-sm;
  }

  &::after {
    position: absolute;
    left: -270%;
    top: 0;
    content: "Copied";
    background-color: $posther-grey-4;
    color: black;
    padding: 4px 8px;
    height: fit-content;
    width: fit-content;
    border-radius: $standard-bord-rad;
    font-size: $font-size-xs;
    z-index: 10000;
    opacity: 0;
    transition: all 0.2s ease-out;
  }
  &.used {
    pointer-events: none;
    position: relative;
    &::after {
      opacity: 1;
    }
  }
}

.link-icon {
  margin-left: auto;
  margin-right: 0.2rem;

  a {
    text-decoration: none;
    color: currentColor;
    &:visited {
      color: currentColor;
    }
  }
}
