@import "./variables.scss";
@import "./typography.scss";

.posther-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.75rem;
  padding: 0 0.5rem;
  border-radius: $standard-bord-rad;
  transition: all 0.1s ease-out;
  cursor: pointer;

  &:hover:not(.disabled) {
    opacity: 0.7;
  }
  &.disabled {
    filter: saturate(0);
    opacity: 0.7;
    cursor: default;
  }

  & > .material-icons {
    margin-left: 0.25rem;
  }

  &.large-btn {
    padding: 0 1.5rem;
    @extend .text-lg;
    height: 3rem;
    & > .material-icons {
      margin-left: 0.5rem;
    }
  }
}

.standard-btn {
  @extend .posther-btn;
  background-color: $primary-col;
  color: black;
  &:not(.flat) {
    box-shadow: 0px 1px 2px 0px transparentize(hsl(215, 27%, 66%), 0.2);
  }
}

.secondary-btn {
  @extend .posther-btn;
}

.action-btn {
  @extend .posther-btn;
  background-color: $secondary-col;
  color: white;
  &:not(.flat) {
    box-shadow: 0px 1px 2px 0px transparentize(hsl(325, 27%, 66%), 0.2);
  }
}
