/* For use in src/lib/core/theming/_palette.scss */
$md-secondary-palette: (
  50: #fdebf5,
  100: #facee5,
  200: #f6add4,
  300: #f28cc2,
  400: #f073b5,
  500: #ed5aa8,
  600: #eb52a0,
  700: #e84897,
  800: #e53f8d,
  900: #e02e7d,
  A100: #ffffff,
  A200: #ffeff6,
  A400: #ffbcd8,
  A700: #ffa2c9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-primary-palette: (
  50: #f5fafc,
  100: #e6f3f8,
  200: #d6ecf3,
  300: #c6e4ee,
  400: #b9deea,
  500: #add8e6,
  600: #a6d4e3,
  700: #9ccedf,
  800: #93c8db,
  900: #83bfd5,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fafeff,
  A700: #e0f6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
