// ==== typographic

$font-ibm: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
$font-courier: "Courier New", Courier, monospace;
$font-ibm-mono: "IBM Plex Mono", monospace;

$font-size-normal: 1rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;

// ==== layout

$breakpoint-md: 60rem;
$breakpoint-sm: 42rem;
$navbar-height: 3rem;
$card-width: 18.75rem;
$cards-gutter: 1.5rem;
$page-lateral-pad: 1.5rem;
$page-top-pad-lg: 5rem;
$page-top-pad: 2rem;
$post-width: 37.5rem;

// ==== rainbows

$primary-col: hsl(195, 53%, 79%);
$primary-col-pale: hsl(195, 27%, 79%);
$primary-col-light: hsl(195, 46%, 93%);
$primary-col-dark: hsl(195, 66%, 35%);

$secondary-col: hsl(328, 80%, 64%);
$secondary-col-pale: hsl(328, 27%, 64%);
$secondary-col-light: hsl(328, 50%, 84%);
$secondary-col-light2: hsl(328, 80%, 84%);
$secondary-col-for-ctx-item: hsl(328, 61%, 94%);

$secondary-col-dark: hsl(328, 90%, 28%);

$black: hsl(0, 0%, 6%);
$black-2: hsl(0, 0%, 50%);

$grey-1: hsl(0, 0%, 98%);

$grey-2: hsl(0, 0%, 99%);

$grey-3: hsl(0, 0%, 75%);

$grey-4: hsl(0, 0%, 89%);

$grey-5: hsl(0, 0%, 94%);

$grey-6: hsl(0, 0%, 97%);

$grey-7: hsl(0, 0%, 65%);

$grey-borders-light: $grey-4;
$grey-borders-strong: $grey-3;
$grey-borders-ultra: $black-2;

$main-gradient-radial: radial-gradient(
  50% 50% at 50% 50%,
  transparentize($primary-col, 0.2) 0,
  rgba(255, 255, 255, 0) 100%
);

// ==== shapes
$standard-bord-rad: 0.2rem;
