<div class="display">
  <div class="top">
    <div class="title">{{ title }}</div>
    <div class="material-icons" (click)="close()">close</div>
  </div>
  <div class="central-content">
    <mat-spinner
      *ngIf="isPending"
      [diameter]="60"
      [color]="'accent'"
    ></mat-spinner>
    <div class="result-icon positive" *ngIf="isSuccessful">
      <span class="material-icons">task_alt</span>
    </div>
    <div class="result-icon negative" *ngIf="isError">
      <span class="material-icons">error_outline</span>
    </div>
  </div>
  <div class="status" [class.error]="hasTxError">
    <div class="status-message">
      {{ txStatus }}
    </div>
    <ng-container *ngIf="txHash">
      <div class="mt-icon link-icon">
        <a
          [href]="hashLink"
          target="_blank"
          title="View Transaction On Etherscan"
          ><span class="material-icons">link</span></a
        >
      </div>
      <div class="mt-icon copy-icon" [class.used]="usedCopy">
        <div
          ngxClipboard
          [cbContent]="txHash"
          title="Copy transaction ID"
          (click)="copiedId()"
        >
          <span class="material-icons">{{ copyIconKey }}</span>
        </div>
      </div>
    </ng-container>

    <div class="read-post" [class.visible]="isSuccessful">
      <a class="read-link" (click)="navigateToRead()">Read</a>
    </div>
  </div>
  <div class="recommend-save" *ngIf="isSuccessful">
    <p>Please copy and save your transaction id.</p>
    <p>
      It's going to be on the blockchain forever, but we won't remember it for
      you.
    </p>
  </div>
</div>
