@import "variables.scss";
@import "typography.scss";
@import "chain_explore_items.scss";
@import "palettes.scss";
@import "buttons.scss";
@import "copy_icon.scss";

.display {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      @extend .text-lg;
      font-weight: 500;
    }
    .material-icons {
      color: $black-2;
      cursor: pointer;
    }
  }

  .central-content {
    height: 160px;
    display: flex;
    align-items: center;
  }
}

.result-icon {
  width: 60px;
  height: 60px;
  .material-icons {
    font-size: 3.5rem;
  }

  &.positive {
    color: map-get($md-secondary-palette, 700);
  }
  &.negative {
    color: $grey-3;
  }
}

.status {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .status-message {
    margin-right: 2rem;
  }

  .mt-icon {
    border: 1px solid $grey-3;
    color: $black;
    margin-left: auto;
    .material-icons {
      font-size: 1.7rem;
    }
  }

  .mt-icon > * {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
      font-size: 1.4rem;
    }
  }

  .read-post {
    margin-left: 0rem;
    max-width: 0%;
    overflow: hidden;
    transition: all 0.3s ease-out;
    &.visible {
      max-width: 100%;
      margin-left: 1rem;
    }
    .read-link {
      @extend .standard-btn;
      text-decoration: none;
      width: 6rem;
      height: 2.1rem;

      &:visited {
        color: currentColor;
      }
    }
  }
}

.recommend-save {
  margin-top: 1rem;
  @extend .text-sm;
}
