@import "../../assets/variables.scss";
@import "../../assets/scrollbars.scss";

:host {
  padding: 0 $page-lateral-pad;
  margin: 10rem auto 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
