@import "../../assets/variables.scss";
@import "../../assets/buttons.scss";
@import "../../assets/typography.scss";

:host {
  display: flex;
  --wid: calc(2 * #{$card-width} + #{$cards-gutter});
  padding: 2rem $page-lateral-padding 0;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.posts-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  .title {
    margin: 0 $cards-gutter 0 0;
    @extend .text-h2;
    width: $card-width;
  }
}

.which-posts {
  display: flex;
  width: $card-width;

  app-toggle-button {
    margin-left: auto;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  overflow-y: auto;
  width: calc(
    2 * #{$card-width} + #{$cards-gutter} + 2 * #{$page-lateral-padding}
  );
  padding-bottom: 1.5rem;
  box-sizing: content-box;
  margin-left: calc((100vw - var(--wid) - 2 * #{$page-lateral-padding}) / 2);
  align-self: flex-start;
  justify-content: flex-start;
  & > * {
    &:not(:last-child) {
      margin-bottom: $cards-gutter;
    }
    &:nth-child(odd) {
      margin-right: $cards-gutter;
    }
    &:last-child {
      margin-right: auto;
    }
  }
}
