<div class="card">
  <table>
    <tr>
      <td>Tx:</td>
      <td>
        <app-explorable-hash [hash]="tx.txHash"></app-explorable-hash>
      </td>
    </tr>
    <tr>
      <td>Date:</td>
      <td class="date">{{ date }}</td>
    </tr>
    <tr>
      <td>From:</td>
      <td>
        <app-explorable-hash [hash]="tx.author"></app-explorable-hash>
      </td>
    </tr>
  </table>
  <hr />
  <div class="post-text">{{ tx.text }}</div>
  <a [routerLink]="['/read', tx.txHash]" class="read-link">View </a>
</div>
