<div class="card">
  <table>
    <tr>
      <td>Author:</td>
      <td>
        <div class="tx">
          <div class="tx-hash">{{ tx.author }}</div>
          <div
            class="copy"
            ngxClipboard
            [cbContent]="tx.author"
            title="Copy Address"
          >
            Copy
          </div>
          <div class="tx-link" *ngIf="showLinkToEtherscan">
            <a
              [href]="txLink(tx.author)"
              target="_blank"
              title="View Author On Etherscan"
              >🔗</a
            >
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Said:</td>
      <td>
        <div class="post-text">{{ tx.text }}</div>
      </td>
    </tr>
    <tr>
      <td>Date:</td>
      <td>{{ dateForPostTx(tx) }}</td>
    </tr>
    <tr>
      <td>Tx:</td>
      <td>
        <div class="tx">
          <div class="tx-hash">{{ tx.txHash }}</div>
          <div
            class="copy"
            ngxClipboard
            [cbContent]="tx.txHash"
            title="Copy Hash"
          >
            Copy
          </div>
          <div class="tx-link" *ngIf="showLinkToEtherscan">
            <a
              [href]="txLink(tx.txHash)"
              target="_blank"
              title="View On Etherscan"
              >🔗</a
            >
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Block:</td>
      <td>{{ tx.blockNumber }}</td>
    </tr>
  </table>
  <a [routerLink]="[tx.txHash]" class="read-link"><div>READ POST</div></a>
</div>
