@import "variables";
@import "buttons";

:host {
  padding: 0 $page-lateral-pad 0;
  margin: $page-top-pad-lg auto 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - #{$page-top-pad-lg});
}

.title {
  margin: 0 0 2rem;
  width: var(--resp-post-width);
}

.form {
  width: var(--resp-post-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  textarea {
    margin-bottom: 2rem;
    background-color: white;
    resize: vertical;
    width: 100%;
    height: 30rem;
    max-height: 50vh;
    @extend .text-lg;
    font-family: $font-ibm;
    border-color: $grey-borders-light;
    border-radius: calc(2 * #{$standard-bord-rad});
    opacity: 0.8;
    padding: 0.75rem;
    &:focus {
      outline: none;
    }
    &:disabled {
      border-color: transparent;
      background: transparent;
    }
  }

  .action-btn {
    min-width: 7.5rem;
    height: 2.5rem;
    align-self: flex-end;
  }
}

.form {
  position: relative;
  .status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: $standard-bord-rad;
    background-color: $grey-5;
    display: none;

    &.visible {
      display: block;
    }
  }
}

.cannot-post {
  width: 33.75rem;
  position: relative;
  margin-top: 1.5rem;
  text-align: center;
}
