@import "../../assets/variables.scss";

:host {
  display: flex;
  flex-direction: column;
  position: relative;
}

ul {
  max-width: 470px;
  li {
    line-height: 1.5em;
  }
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.which-posts {
  display: flex;
  label {
    margin-right: 16px;
  }
}

.new-post-btn {
  position: absolute;
  top: calc(35px + #{$navbar-height});
  right: 0px;
  text-transform: uppercase;
  padding: 6px 12px;
  background-color: $secondary-col;
  box-shadow: 0px 2px 6px 0px #d2b1c4;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.1s ease-out;
  &:hover {
    background-color: $secondary-hover-col;
  }
}
