<h1>EthPoster</h1>
<div class="new-post-btn" [routerLink]="['./poster']">Create Post</div>
<ul>
  <li>Post text on Ethereum</li>
  <li>Persistence based on <strong>calldata</strong></li>
  <li>No storage, no events. Low gas.</li>
  <li>
    Connect your Metamask to Ethereum <strong>{{ targetNetwork }}</strong>
  </li>
</ul>
<hr />
<div class="posts-header">
  <h2>Posts</h2>
  <div class="which-posts">
    <app-toggle-button
      [text]="'Only mine'"
      (changed)="toggleMine()"
      [on]="onlyMine"
    ></app-toggle-button>
  </div>
</div>
<ng-container
  *ngIf="web3Svc.noContractError; then error; else posts"
></ng-container>

<ng-template #error>
  <p class="error">{{ web3Svc.noContractError }}</p>
</ng-template>

<ng-template #posts>
  <ng-container *ngIf="postTxs">
    <p *ngIf="postTxs.length === 0">No posts yet</p>
    <app-post-card *ngFor="let tx of postTxs" [tx]="tx"> </app-post-card>
  </ng-container>
</ng-template>
