<h1>EthPoster</h1>
<ul>
  <li>
    <strong>On-chain</strong> persistence of posts, based on
    <strong>calldata</strong>
  </li>
  <li>No EVM storage or events -> low gas costs</li>
  <li>
    Connect your Metamask to Ethereum <strong>{{ targetNetwork }}</strong>
  </li>
</ul>
<hr />
<h2>Posts</h2>
<ng-container
  *ngIf="web3Svc.noContractError; then error; else posts"
></ng-container>

<ng-template #error>
  <p class="error">{{ web3Svc.noContractError }}</p>
</ng-template>

<ng-template #posts>
  <p *ngIf="postTxs?.length === 0">No posts yet</p>
  <app-post-card *ngFor="let tx of postTxs" [tx]="tx"> </app-post-card>
</ng-template>
