<div class="navbar" *ngIf="isInitialized">
  <div class="wrapper">
    <div class="title" [routerLink]="['/']">{{ title }}</div>
    <ng-container *ngIf="web3Ctx$ | async as ctx">
      <div class="ctx-item">
        <div class="label">Network</div>
        <div class="network">{{ networkName(ctx) }}</div>
      </div>
      <div class="ctx-item">
        <div class="label">Me</div>
        <div
          class="status"
          [class.no-connection]="!ctx.signer"
          (click)="connect(!ctx.signer)"
        >
          {{ account(ctx) }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
