// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "./assets/palettes.scss";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$web-ui-angular-primary: mat-palette($md-primary-palette);
$web-ui-angular-accent: mat-palette($md-secondary-palette, 700, A400, 900);

// The warn palette is optional (defaults to red).
$web-ui-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-ui-angular-theme: mat-light-theme(
  (
    color: (
      primary: $web-ui-angular-primary,
      accent: $web-ui-angular-accent,
      warn: $web-ui-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($web-ui-angular-theme);

/* You can add global styles to this file, and also import other style files */
@import "./assets/variables.scss";
@import "./assets/scrollbars.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");
@import "@material-design-icons/font";

:root {
  --resp-post-width: #{$post-width};
}
@media screen and (max-width: calc(#{$post-width} + 2 * #{$page-lateral-pad})) {
  :root {
    --resp-post-width: 100%;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-ibm;
  height: 100%;
}

* {
  box-sizing: border-box;
  // @extend .scrollbar-thin;
}

.mat-dialog-container {
  box-shadow: 0px 1px 6px 1px
    transparentize(darken($primary-col-dark, 15%), 0.85);
}
