@import '../assets/variables.scss';

:host {
  display: block;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.scroller {
  height: 100%;
  overflow-y: auto;
  background-color: $poster-grey-2;

  .content {
    padding: 24px;
    max-width: 600px;
    // margin: auto;
    margin-left: calc((100vw - 648px) / 2);
    flex-grow: 1;
    padding-bottom: 40px;
  }
}
