@import "../../../../assets/typography.scss";
@import "../../../../assets/variables.scss";
@import "../../../../assets/buttons.scss";

:host {
  width: var(--resp-post-width);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
