<div class="posts-header">
  <h2 class="title">Explore Posths</h2>
  <div class="which-posts">
    <app-toggle-button
      [text]="'Only mine'"
      (changed)="toggleMine()"
      [on]="onlyMine"
    ></app-toggle-button>
  </div>
  <div class="spinner-wrapper" *ngIf="isRetrieving">
    <mat-spinner [diameter]="80" [color]="'primary'"></mat-spinner>
    <div class="messages">
      <div>Querying the blockchain...</div>
      <div>If there are no recent posts this may take a minute</div>
    </div>
  </div>
</div>
<div class="cards" *ngIf="web3Svc.hasContract && !!postTxs">
  <p *ngIf="postTxs.length === 0">No posts yet</p>
  <app-posth-card *ngFor="let tx of postTxs" [tx]="tx"> </app-posth-card>
</div>
