<div class="posts-header">
  <h2 class="title">Explore Posths</h2>
  <div class="which-posts">
    <app-toggle-button
      [text]="'Only mine'"
      (changed)="toggleMine()"
      [on]="onlyMine"
    ></app-toggle-button>
  </div>
  <div class="spinner-wrapper" *ngIf="isRetrieving">
    <mat-spinner [diameter]="80" [color]="'primary'"></mat-spinner>
    <div class="messages">
      <div>Querying the blockchain . . .</div>
      <div>Only recent posths are available</div>
      <div>Cause we're not doing any fancy indexing</div>
      <div class="suggest-publish">
        But you can
        <div class="action-btn" [routerLink]="['/publish']">Posth</div>
        and come back here
      </div>
    </div>
  </div>
</div>
<div class="cards" *ngIf="web3Svc.hasContract && !!postTxs">
  <p *ngIf="postTxs.length === 0">No (recent) posts available</p>
  <app-posth-card *ngFor="let tx of postTxs" [tx]="tx"> </app-posth-card>
</div>
