@import "variables.scss";
@import "buttons.scss";
@import "typography.scss";
@import "scrollbars.scss";

:host {
  display: flex;
  --wid: calc(2 * #{$card-width} + #{$cards-gutter});
  padding: $page-top-pad $page-lateral-pad 0;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.posts-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2rem;

  .title {
    margin: 0 $cards-gutter 0 0;
    @extend .text-h2;
    width: $card-width;
  }

  position: relative;
  .spinner-wrapper {
    $messages-height: 7.5rem;
    $spinner-height: 37.5rem;
    $wrapper-height: calc((#{$spinner-height} + #{$messages-height}) / 2);
    position: absolute;
    bottom: calc(-1 * #{$wrapper-height});
    left: 0;
    width: 100%;
    height: $wrapper-height;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .messages {
      height: $messages-height;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      & > div:not(:last-child) {
        margin-bottom: 1.2rem;
      }

      .suggest-publish {
        display: flex;
        align-items: center;
        width: 100%;
        .action-btn {
          width: 6rem;
          margin: 0 1rem;
        }
      }
    }
  }
}

.which-posts {
  display: flex;
  width: $card-width;

  app-toggle-button {
    margin-left: auto;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  overflow-y: auto;
  width: calc(2 * #{$card-width} + #{$cards-gutter} + #{$page-lateral-pad});
  padding-bottom: 1.5rem;
  box-sizing: content-box;
  margin-left: calc((100vw - var(--wid) - 2 * #{$page-lateral-pad}) / 2);
  align-self: flex-start;
  justify-content: flex-start;
  & > * {
    &:not(:last-child) {
      margin-bottom: $cards-gutter;
    }
    &:nth-child(odd) {
      margin-right: $cards-gutter;
    }
    &:last-child {
      margin-right: auto;
    }
  }

  // @extend .scrollbar-thin;
  @extend .scrollbar-thin;
}

@media screen and (max-width: $breakpoint-sm) {
  .posts-header {
    width: 100%;
    justify-content: space-between;
    .title {
      width: fit-content;
    }
    .which-posts {
      width: fit-content;
      align-self: flex-end;
      app-toggle-button {
        margin-right: auto;
      }
    }
  }
  .cards {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: calc(100% + 0.2rem);
    margin-left: 0;
    padding-right: 1rem;
    & > * {
      margin: 0 0 $cards-gutter 0 !important;
      &:last-child {
        margin: 0 !important;
      }
    }
  }
}
