<div class="posts-header">
  <h2 class="title">Explore Posths</h2>
  <div class="which-posts">
    <app-toggle-button
      [text]="'Only mine'"
      (changed)="toggleMine()"
      [on]="onlyMine"
    ></app-toggle-button>
  </div>
</div>
<div class="spinner-anchor">
  <div class="spinner-wrapper" *ngIf="isRetrieving">
    <mat-spinner [diameter]="80" [color]="'primary'"></mat-spinner>
    <div class="messages">
      <div>Querying the blockchain ...</div>
      <div>We're not doing any fancy indexing, so</div>
      <ul>
        <li>Only recent posths are available (2000 blocks ~ 80 hours)</li>
        <li>A maximum of {{ howMany }} posths are listed here</li>
        <li>But you can publish one yourself and come back here</li>
      </ul>
      <div class="action-btn" [routerLink]="['/publish']">Posth</div>
    </div>
  </div>
</div>
<div class="cards" *ngIf="web3Svc.hasContract && !!postTxs">
  <p *ngIf="postTxs.length === 0" class="none-available">
    No (recent) posts available
  </p>
  <app-posth-card *ngFor="let tx of postTxs" [tx]="tx"> </app-posth-card>
</div>
